  $site-width: 100rem;

  $ff-title: "DM Sans", sans-serif;
  $ff-text-alt: "Lato", sans-serif;
  $ff-text: "Roboto", sans-serif;

  $color-white: #fff;
  $color-black: #000;
  $color-grey-300: rgba(231, 231, 231, 1);
  $color-logo: #d04f4f;
  $color-ingredient: rgba(50, 130, 247, 1);
  $color-appliance: rgba(104, 217, 164, 1);
  $color-ustensil: rgba(237, 100, 84, 1);
