@use '../abstracts';

/* FILTERS LIST */
.filters-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0.9375rem;
    gap: 1rem;
    list-style: none;
  }
  
  .filter-list__item {
    padding: 0.625rem 3.4375rem 0.625rem 1.25rem;
    background-color: transparent;
    background-image: url("../images/cross.svg");
    background-position: center right 22px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border-radius: 5px;
    color: abstracts.$color-white;
    cursor: pointer;
    font-family: abstracts.$ff-text-alt;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.05rem;
  }
  
  .filter-list__item-ingredients {
    background-color: abstracts.$color-ingredient;
  }
  
  .filter-list__item-appliances {
    background-color: abstracts.$color-appliance;
  }
  
  .filter-list__item-ustensils {
    background-color: abstracts.$color-ustensil;
  }